body{
    font-family: 'Product Sans';
    font: 'Product Sans';
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: cover ;
    justify-content: center;
}

img{
    height: 100px;
    display: block;
    margin: 0 auto;
}

.copm_name{
    text-align: center;
}

h3{
    text-align: center;
}






